<h2>Liste des dossiers</h2>

<div class="actions">
  <button routerLink="/dossier/create" class="btn-primary">
    Créer un dossier
  </button>
</div>



<div class="list-container">

  <!-- Empty State -->
  <div *ngIf="dossiers.length === 0" class="empty-message">
    Aucun dossier disponible.
  </div>

  <!-- Dossier cards -->
  <div class="list-item" *ngFor="let d of dossiers">
    <div class="info">
      <h3>{{ d.title || 'Dossier sans titre' }}</h3>
      <small>Patient ID : {{ d.patientId }}</small>
    </div>

    <div class="item-actions">
      <button
        [routerLink]="['/dossier/detail', d.id]"
        class="btn-primary">
        Voir
      </button>

      <button
        [routerLink]="['/dossier/documents', d.id]"
        class="btn-warning">
        Documents
      </button>

      <button
        [routerLink]="['/dossier/delete', d.id]"
        class="btn-danger">
        Supprimer
      </button>
    </div>
  </div>

</div>
